$theme-colors: (
        "jdaYellow": #F2B22E,
        "jdaBlue": #2F7AF2,
        "jdaLightBlue": #CDDFFC,
        "jdaWhite": #fff,
);

@import "node_modules/bootstrap/scss/bootstrap";


$jdaYellow: #F2B22E;
$jdaBlue: #2F7AF2;
$jdaLightBlue: #CDDFFC;
$jdaWhite: #fff;