@import "colors";

.contactHeader{
  min-height: 384px;
  background-image: url(../images/kontakt/kontaktHeader.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .contactText{
    h1{
      font-family: acumin-pro,sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: $jdaWhite;
    }

  }
  .underline{
    height: 3px;
    width: 45px;
    background-color: $jdaWhite;

  }
}

.silverCar{
  img{
  }
  .contactFormContainer{
    min-height: 480px;
    max-width: 325px;
    background-color: $jdaWhite;
    z-index: 1;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    padding: 0 30px;

    .formHeader{
      h3{
        font-family: acumin-pro,sans-serif;
        font-size: 20px;
        span{
          font-weight: bold;
          color: $jdaBlue;
        }
      }
    }

    button{
      font-family: acumin-pro,sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: $jdaWhite;
      border: none;
      min-width: 130px;
    }
  }
}

.contactInformation{
  margin-top: 420px;
  @media (min-width: 530px) {
    margin-top: 300px;
  }

  @media (min-width: 630px) {
    margin-top: 200px;
  }

  padding: 0 25px!important;
  .headerText{
    h2{
      font-family: acumin-pro, sans-serif;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .info{
    margin-top: 5px;
    .contactIcon{
      max-width: 16px;
      max-height: 16px;
      margin-right: 20px;
    }
    p{
      margin: 0!important;
      font-family: acumin-pro, sans-serif;
      font-size: 18px;
    }
  }
}


.largerContainer{
  .contactImage{
    z-index: -99;
    left: 0;
    top: 350px;
    @media (min-width: 950px) {
      top: 400px;
      left: 50px;
    }
    @media (min-width: 1920px) {
    top: 500px;
      left: 150px;
  }
    img{
      max-width: 340px;
      @media (min-width: 1400px) {
        max-width: 440px;
      }
      @media (min-width: 1700px) {
        max-width: 540px;
      }
      @media (min-width: 1920px) {
        max-width: 640px;
      }
    }
  }
  .formContainer{
    min-height: 500px;
    width: 325px;
    background-color: $jdaWhite;
    box-shadow: 0 3px 17px 0 rgba(0,0,0,0.26);
    padding:0 30px;
    @media (min-width: 1920px) {
      margin-top: 325px;
      width: 675px;
    }

    .formHeader{
      h3{
        font-family: acumin-pro,sans-serif;
        font-size: 20px;
        span{
          font-weight: bold;
          color: $jdaBlue;
        }
      }
    }

    button{
      font-family: acumin-pro,sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: $jdaWhite;
      border: none;
      min-width: 130px;
    }
  }
  .contactInfo {
    @media (min-width: 1920px) {
      margin-top: 250px;
      margin-left: 200px;
    }

    .headerText{
      h2{
        @media (min-width: 1920px) {
          font-size: 50px;
        }
      }
    }

    .info {
      margin-top: 5px;

      .contactIcon {
        width: 16px;
        height: 16px;
        margin-right: 20px;
        @media (min-width: 1920px) {
          width: 22px;
          height: 22px;
        }
      }

      p {
        margin: 0 !important;
        font-family: acumin-pro, sans-serif;
        font-size: 18px;
        @media (min-width: 1920px) {
          font-size: 27px;
        }
      }
    }
  }

}
