@import "colors";

.tireHeader{
  min-height: 384px;
  background-image: url(../images/services/services.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 150px;
  .contactText{
    h1{
      font-weight: bold;
      font-size: 30px;
      color: $jdaWhite;
    }

  }
  .underline{
    height: 3px;
    width: 45px;
    background-color: $jdaWhite;

  }
}

.firstSektion{
  .firstSektionHeader{
    h2{
      font-size: 28px;
      span{
        color: $jdaBlue;
        font-weight: bold;
      }
    }
  }
  .firstSektionText {
    max-width: 800px;

    p {
      color: #999999;
      line-height: 30px;
      font-size: 18px;
    }
  }
}

.checkmarks{
  @media (min-width: 1000px) {
  }
  img{
    width: 69px;
    height: 69px;
  }

  h3{
    font-weight: bold;
    font-size: 25px;
    color: black;
  }
}


.seasonTire{
  @media (min-width: 1400px) {
    margin-left: 130px;
    margin-top: 200px;
  }
  @media (min-width: 1540px) {
    margin-left: 200px;
  }
  @media (min-width: 1920px) {
    margin-left: 390px;
  }
  .seasonTireHeader{
    h3{
      font-size: 23px;
      @media (min-width: 1920px) {
        font-size: 54px;
      }
      span{
        color: $jdaBlue;
        font-weight: bold;
      }
    }
  }
  .seasonTireText{
    p{
      color: #999999;
      line-height: 30px;
      font-size: 18px;
    }
  }
  button{
    color: white;
    font-weight: bold;
  }
}
.synFlex{
  .synImage{
    @media (min-width: 768px) {
    max-width: 35%;
      transform:translate(25%);
  }
    @media (min-width: 1200px) {
      max-width: 450px;
    }
  }
  .synText{
    @media(min-width:768px){
      transform:translate(-25%);
    }
    .synHeader {
      h3 {
        font-size: 38px;

        span {
          color: $jdaBlue;
          font-weight: bold;
        }
      }
    }

      .klarTilSyn{
        .checkmark{
          img{
            max-width: 22px;
            max-height: 22px;
          }
          p{
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0!important;
          }

        }
        button{
          color: white;
          font-weight: bold;
        }
      }
   }
  }

