@import 'colors';


* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */


h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}



body {
    margin: 0; /* Ingen kanter i siden af browser */
    nav{
      min-height: 75px;
      .logo{
        a{
          img{
            min-height: 37px;
            min-width: 160px;
          }
        }
      }
  .rightNav{
    .phoneIcon{
      a{
        img{
          max-width: 27px;
        }
      }
    }
    .navbar-toggler{
      border: none;
    }
    }
  }
    .frontpageHeader{
      width: 100%;
      height: 100vh;
      background-image: url(../images/frontpageHeader.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      .headerText{
        h1{
          font-family: acumin-pro, sans-serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          font-size: 25px;
        }
      }
      .headerBtns{
        button{
          min-width: 133px;
          min-height: 45px;
          color: $jdaWhite;
          font-family: acumin-pro, sans-serif;
          font-weight: 600;
          font-style: normal;
        }
      }
      .fbContainer{
        position: absolute;
        bottom: 30px;
        left: 25px;
        a{
          font-family: acumin-pro, sans-serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          font-size: 15px;
        }
        img{
          max-width: 19px;
          max-height: 19px;
          cursor: pointer;
        }

      }

    }

  .fbLine{
    height: 2px;
    width: 100px;
    position: absolute;
    bottom: 15px;
    left:70px;
  }

  .rightLine{
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: 15px;
    right:25px;
  }

  .standingLine{
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: 50px;
    right: -10px;
    transform: rotate(90deg);
  }

  #triangle {
    width: 0;
    height: 0;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: 20px;
    right: 29px;
  }



  }
