@import 'colors';


* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */


h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}



body {
    margin: 0; /* Ingen kanter i siden af browser */
    nav{
      min-height: 75px;
      .logo{
        max-width: 275px;
        a{
          img{
            min-height: 37px;
            min-width: 160px;
          }
        }
      }
  .rightNav{
    .phoneIcon{
      a{
        img{
          max-width: 27px;
        }
      }
    }
    .navbar-toggler{
      border: none;
    }
    }

      .navbar-collapse{
        ul{
          li{
            font-family: acumin-pro, sans-serif;
            font-style: normal;
            font-size: 15px;
            font-weight: bold;
          }
          button{
            font-family: acumin-pro, sans-serif;
            font-style: normal;
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
  }
    .frontpageHeader{
      width: 100%;
      height: 100vh;
      background-image: url(../images/frontpageHeader.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      .headerText{
        h1{
          font-family: acumin-pro, sans-serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          font-size: 25px;
        }
      }
      .headerBtns{
        button{
          min-width: 133px;
          height: 45px;
          align-self:center;
          color: $jdaWhite;
          font-family: acumin-pro, sans-serif;
          font-weight: 600;
          font-style: normal;
        }
      }
      .fbContainer{
        position: absolute;
        bottom: 30px;
        left: 25px;
        a{
          font-family: acumin-pro, sans-serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          font-size: 15px;
        }
        img{
          max-width: 19px;
          max-height: 19px;
          cursor: pointer;
        }

      }

    }

  .fbLine{
    height: 2px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    left:70px;
  }

  .rightLine{
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    right:25px;
  }

  .standingLine{
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: 55px;
    right: -10px;
    transform: rotate(90deg);
  }

  #triangle {
    width: 0;
    height: 0;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: 25px;
    right: 29px;
  }

  .topRightShape{
    bottom: -900px;
    z-index: -999;
  }

  #pic1{
    transform:translate(25%);
  }

  #pic2{
    z-index:120;
  }

  #pic3{
    transform:translate(-25%);
  }

  .container{
    .ctaBoxes{
      .pic1{
        img{
        }
        .mekaniker{
          left: 0;
          right: 0;
          bottom: 85px;
          h1{
            color: $jdaWhite;
            font-size: 20px;
            }
          .ctaLine{
            height: 2px;
            width: 55px;
            right: 0;
            left: 0;
            top: 50px;
          }
        }
      }
    }

    .container{

    .weFixCars{
      h1{
        font-size: 2rem;
        font-family: acumin-pro, sans-serif;
        @media (min-width: 1200px) {
          font-size: 4rem;
        }
        span{
          color: $jdaBlue;
          font-weight: bold;
        }
      }
    }

      .weFixCarsText {
        @media (min-width: 768px) {
          max-width: 50%;
        }
        @media (min-width: 1000px) {
          max-width: 60%;
        }

        p {
          font-size: 18px;
          color: #999999;
          line-height: 35px;
        }

        .ctaBtn {
          button {
            color: $jdaWhite;
            font-weight: bold;
            font-size: 14px;
          }
        }
        }
          }
    .blueCar {
      z-index: -999;
      right: 0;


      img {
        @media (min-width: 768px) {
        max-width: 400px;
      }
        @media (min-width: 1600px) {
          max-width: 550px;
        }
      }
    }
        }
      }



.hej{
  margin-top: 350px;
  @media (min-width: 550px) {
  margin-top: 500px;
  }
  @media (min-width: 768px) {
    margin-top: 100px;
  }
  padding-left: 25px!important;
  padding-right: 25px!important;
  .customCard{
    max-width: 325px;
    @media (min-width: 767px) {
      margin:20px 10px;
      max-width: 300px;
    }

    .cardIcon{
      max-width: 49px;
    }
    .cardHeader{
      h5{
        font-weight: bold;
        font-family: acumin-pro,sans-serif;
        font-size: 22px;
      }
    }

    .blueLine{
      height: 2px;
      width: 48px;
      background-color: $jdaBlue;

    }
    .cardText{
      p{
        font-family: acumin-pro,sans-serif;
        color: #999999;
        font-size: 14px;
      }
    }
    .cardBtn{
      button{
        font-size: 10px;
        font-weight: bold;
        font-family: acumin-pro,sans-serif;
      }
    }

  }
  .bottomRightShape{
    left: 0;
    z-index: -999;
  }

}

.uforpligtendeTilbud{
  min-height: 812px;
  width: 100%;
  background-image: url(../images/carAddMobile.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .tilbud{
    h3{
      color: $jdaWhite;
      font-family: acumin-pro,sans-serif;
      font-weight: bold;
      font-size: 26px;
      padding-top: 200px;
      span{
        color: $jdaYellow;
        font-size: 54px;
      }
    }
  }
}

.tilbudDesktop{
  min-height:575px;
  width: 100%;
  background-image: url(../images/carAddDesktop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 100px;
  .tilbudDesk{
    width: 100%;
    margin-right: 10%;
    margin-top: 150px;
    h3{
      color: $jdaWhite;
      font-family: acumin-pro,sans-serif;
      font-weight: bold;
      font-size: 26px;
      padding-top: 200px;
      @media (min-width: 1400px) {
        font-size: 33px;
      }
      span{
        color: $jdaYellow;
        font-size: 54px;
        @media (min-width: 1400px) {
          font-size: 99px;
        }
      }
    }

    @media (min-width: 1400px) {
      margin-top: 150px;
    }
    @media (min-width: 1920px) {
      margin-top: 150px;
      margin-right: 20%;
    }

  }
}



.tireTech{
  width: 100%;
  @media (min-width: 1920px) {
    margin-bottom: 200px;
  }
  .tireImage{
    @media (min-width: 768px) {
    }
    @media (min-width: 1600px) {
      min-width: 800px;
      min-height: 600px;
      margin-left: 80px;
    }

  }
  .tireHeader{

      h1{
        font-size: 20px;
        font-family: acumin-pro, sans-serif;
        @media (min-width: 1500px) {
          font-size: 54px;
        }
        span{
          color: $jdaBlue;
          font-weight: bold;
          @media (min-width: 1500px) {
            font-size: 54px;
          }
        }
      }
    }
  .tireText{
    @media (min-width: 1500px) {
      max-width: 55%;
    }
    @media (min-width: 1700px) {
      max-width: 62%;
    }
    color: #999999;
    font-size: 18px;
    line-height: 35px;
    .ctaBtn{
      button{
        color: $jdaWhite;
        font-family: acumin-pro,sans-serif;
        font-size: 18px;
        font-weight: bold;
        width: 130px;
      }
    }
    @media (min-width: 1200px) {
    }
  }
  .bottomRightShape{
    z-index: -999;
  }
  }

.leasing{
  min-height: 650px;
  background-image: url(../images/leasing.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  .leasingText{
    h3{
      color: $jdaWhite;
      font-family: acumin-pro,sans-serif;
      font-size: 30px;
      margin-top: 250px;
      span{
        font-size: 46px;
        font-weight: bold;
      }
    }
    .ctaBtn{
      button{
        color: $jdaWhite;
        font-family: acumin-pro,sans-serif;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.leasingDesktop{
  background-image: url(../images/leasingDesk.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 240px;
  margin-top: 300px;
  @media (min-width: 1000px) {
    min-height: 340px;
  }
  @media (min-width: 1920px) {
    min-height: 440px;
  }
  h3{
    color: $jdaWhite;
    font-family: acumin-pro,sans-serif;
    font-size: 30px;
    @media (min-width: 1920px) {
      font-size: 48px;
    }
    span{
      font-weight: bold;
      @media (min-width: 1920px) {
        font-size: 73px;
      }
    }
  }
  button{
    color: $jdaWhite;
    font-family: acumin-pro,sans-serif;
    font-size: 18px;
    min-width: 130px;
  }
  }

.btn{
  color: $jdaWhite;
  font-family: acumin-pro,sans-serif;
  font-size: 18px;
  min-width: 130px;
  font-weight: bold;
}