@import "colors";

.tireHeader{
  min-height: 384px;
  background-image: url(../images/services/services.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .contactText{
    h1{
      font-weight: bold;
      font-size: 30px;
      color: $jdaWhite;
    }

  }
  .underline{
    height: 3px;
    width: 45px;
    background-color: $jdaWhite;

  }
}

.firstSektion{
  .firstSektionHeader{
    h2{
      font-size: 28px;
      span{
        color: $jdaBlue;
        font-weight: bold;
      }
    }
  }
  .firstSektionText {
    max-width: 800px;

    p {
      color: #999999;
      line-height: 30px;
      font-size: 18px;
    }
  }
  }


.seasonTire{
  @media (min-width: 1400px) {
   margin-left: 130px;
    margin-top: 200px;
  }
  @media (min-width: 1540px) {
    margin-left: 200px;
  }
  @media (min-width: 1920px) {
    margin-left: 390px;
  }
  .seasonTireHeader{
    h3{
      font-size: 23px;
      @media (min-width: 1920px) {
        font-size: 54px;
      }
      span{
        color: $jdaBlue;
        font-weight: bold;
      }
    }
  }
  .seasonTireText{
    p{
      color: #999999;
      line-height: 30px;
      font-size: 18px;
    }
  }
  button{
    color: white;
    font-weight: bold;
  }
}

.hoerMere {
  margin-top: 100px;
  @media (min-width: 1920px) {
    margin-top: 150px;
  }

  h3 {
    font-family: acumin-pro, sans-serif;
    font-size: 20px;

    span {
      font-size: 55px;
      color: $jdaYellow;
      font-weight: bold;
    }
  }
}
